/* @file main.css */
.toolbar-header .title {
    text-align: left;
    margin-left: 7px;
    display: inline;
    float: left;
    margin-top: 2px;
}

.toolbar-header.ns-appheader .title {
    margin-left: 24px;
}

.toolbar-header .icon {
    float: right;
    position: relative;
    padding: 0 4px;
    background: transparent;
    margin-top: 1px;
}

.toolbar-header .icon:hover {
    color: grey;
}

.btn, 
.btn * {
    cursor: pointer;
}

.nc-list-wrapper__appsidebar {
    overflow-x: hidden;
    overflow-y: auto;
}

.ns-dropdown {
    height: 32px;
}

.ns-input-with-button input {
    padding-right: 94px;
}

.ns-input-with-button button {
    float: right;
    position: relative;
    margin-top: -32px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 32px;
}

.nc-tag-box__exclusions {
    display: block;
    margin: 5px 0;
}

.nc-tag-box__exclusions .nc-tag {
    background-color: lightgrey;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.nc-tag-box__exclusions .ns-label {
    padding: 3px 5px;
    font-size: 10px;
}

.nc-tag-box__exclusions .nc-button {
    padding: 3px 5px;
    color: white;
    border-left: 1px dotted white;
}

.nc-tag-box__exclusions .nc-button:hover {
    color: red;
}

.nc-modal .nc-feedback {
    padding: 3px 9px;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
}

.nc-modal .nc-feedback.info {
    color: royalblue;
    background-color: aliceblue;
}

.nc-modal .nc-feedback.success {
    color: forestgreen;
    background-color: honeydew;
}

.nc-modal .nc-feedback.warning {
    color: darkorange;
    background-color: cornsilk;
}

.nc-modal .nc-feedback.danger {
    color: indianred;
    background-color: lavenderblush;
}

.ns-console {
    background-color: darkslategrey;
    color: white;
    margin-top: 0px;
}

.nc-instruction fieldset {
    border-color: gainsboro;
    margin-bottom: 15px;
}

.nc-instruction legend {
    border: 1px solid gainsboro;
    padding: 0 5px;
    font-weight: bold;
    border-radius: 4px;
}

.ns-curved-border fieldset {
    border-radius: 4px;
}

.nc-modal {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid darkgray;
    z-index: 4;
}

#appabout.nc-modal {
    width: 400px;
    height: 280px;
}

#appabout.nc-modal .ns-applogo {
    margin-right: 10px;
}

#applogin.nc-modal {
    width: 400px;
    height: 325px;
}

.nc-modal form label {
    margin-bottom: 0;
}

.nc-modal header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ns-appicon {
    height: 16px;
    margin: 3px 3px;
    float: left;
    position: absolute;
}

.ns-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.ns-row {
    display: flex;
}

.ns-row .ns-col {
    position: relative;
    float: left;
}

.ns-clickable,
.ns-clickable * {
    cursor: pointer;
}

.ns-required-mark {
    color: red;
}

.ns-generic-legend {
    color: #fff;
    background-color: #6d6c6d;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid transparent;
    border-radius: 4px;
}