/* @file main.css */
.toolbar-header .title {
    text-align: left;
    padding-left: 5px;
    display: inline;
}

.toolbar-header .icon {
    float: right;
    position: relative;
    cursor: pointer;
    margin: 0 4px;
}

.nc-list-wrapper__appsidebar {
    overflow-x: hidden;
    overflow-y: auto;
}

.ns-dropdown {
    height: 32px;
}

.ns-input-with-button input {
    padding-right: 94px;
}

.ns-input-with-button button {
    float: right;
    position: relative;
    margin-top: -32px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 32px;
}

.nc-tag-box__exclusions {
    display: block;
    margin: 5px 0;
}

.nc-tag-box__exclusions .nc-tag {
    background-color: lightgrey;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.nc-tag-box__exclusions .ns-label {
    padding: 3px 5px;
    font-size: 10px;
}

.nc-tag-box__exclusions .nc-button {
    padding: 3px 5px;
    color: white;
    border-left: 1px dotted white;
    cursor: pointer;
}

.nc-tag-box__exclusions .nc-button:hover {
    color: red;
}

form .nc-feedback {
    cursor: pointer;
    padding: 3px 9px;
    border-radius: 4px;
    margin-bottom: 10px;
}

form .nc-feedback.info {
    color: royalblue;
    background-color: aliceblue;
}

form .nc-feedback.success {
    color: forestgreen;
    background-color: honeydew;
}

form .nc-feedback.warning {
    color: darkorange;
    background-color: cornsilk;
}

form .nc-feedback.danger {
    color: indianred;
    background-color: lavenderblush;
}

.ns-console {
    background-color: darkslategrey;
    color: white;
    margin-top: 0px;
}

.nc-instruction fieldset {
    border-color: gainsboro;
    margin-bottom: 15px;
}

.nc-instruction legend {
    border: 1px solid gainsboro;
    padding: 0 5px;
    font-weight: bold;
    border-radius: 4px;
}

.ns-curved-border fieldset {
    border-radius: 4px;
}

.nc-modal {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid darkgray;
}

#appabout.nc-modal {
    width: 400px;
    height: 260px;
}

.nc-modal header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.nc-modal-content {

}